/* Theme Variables */
$blue: #061e3f;
$white: #fff;
$title: #f2505e;
$bg: #e3e4e6;
$text: #111111;
$accent: #2c8a91;
$card-bg: #f0f0f0;
$card-bg-dark: #f0f0f054;
$card-shadow: rgba(0, 0, 0, 0.1);
$title: #f2505e;
$text-secondary: #6d6b6b;